@import "tailwindcss";

@font-face {
    font-family: "Antipasto";
    src: url("/antipasto_fonts/AntipastoPro-Medium_trial.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
  

.font-Antipasto {
    font-family: "Antipasto";
}